# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ========================
# Environment
# ========================
.env
venv/
.venv/

# ========================
# Jupyter
# ========================
.ipynb_checkpoints/

# ========================
# Logs
# ========================
*.log

# ========================
# ML Models & Adapters (INI YANG DI-IGNORE)
# ========================
adapters/
checkpoints/
checkpoint-*/
*.pt
*.pth
*.bin
*.safetensors

# ========================
# Cache
# ========================
.cache/
huggingface/

# ========================
# OS
# ========================
.DS_Store
Thumbs.db
